APOLLO_KEY=your-graphs-apollo-key
APOLLO_GRAPH_REF=your-graph-name@current

APOLLO_KEY=service:Odyssey-Studio-k4t82j:HGtu5cBfKlFc48o6_oM8Nw \
  rover graph publish Odyssey-Studio-k4t82j@current \
  --schema "path-to-your-subgraph-schema.{graphql,gql}"

# https://studio.apollographql.com

@env:APOLLO_KEY=service:My-Graph-9d4w0e:QV1XtbPMqjxcLVjZaRSdMg \
  rover graph publish My-Graph-9d4w0e@current \
  --schema "path-to-your-subgraph-schema.{graphql,gql}"

$env:APOLLO_KEY = 'service:My-Graph-9d4w0e:QV1XtbPMqjxcLVjZaRSdMg'; rover graph publish My-Graph-9d4w0e@current --schema "./schema.graphql"

# Republish the graph
rover subgraph publish My-Graph-9d4w0e@current --schema "./schema.graphql" --name monolith --routing-url http://localhost:4001
error[E007]: The graph `My-Graph-9d4w0e@current` is a non-federated graph. This operation is only possible for federated graphs.
        If you are sure you want to convert a non-federated graph to a subgraph, you can re-run the same command with a `--convert` flag. 

rover subgraph publish My-Graph-9d4w0e@current --schema "./schema.graphql" --name monolith --routing-url http://localhost:4001 --convert