APOLLO_KEY=your-graphs-apollo-key
APOLLO_GRAPH_REF=your-graph-name@current

APOLLO_KEY=service:Odyssey-Studio-k4t82j:HGtu5cBfKlFc48o6_oM8Nw \
  rover graph publish Odyssey-Studio-k4t82j@current \
  --schema "path-to-your-subgraph-schema.{graphql,gql}"